<div class="container">
  <h1>Angular Book Forms: </h1>
  <form action="">
    <div>
      <label for="title">Title:</label><br>
      <input type="text" class="form-control" id="title" required>
    </div>
    <div>
      <label for="author">Author:</label><br>
      <input type="text" class="form-control" id="author" required>
    </div>
    <div>
      <label for="url">URL:</label><br>
      <input type="text" class="form-control" id="url" required>
    </div>
    <div>
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</div>